# version=RHEL7.5
# Action
install

# System authorization information
auth --enableshadow --passalgo=sha512

# Accept Eula
eula --agreed

#Reboot system
reboot

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=vda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Root password
rootpw --iscrypted $6$PwvqmzHus5eLkyVD$hPWQepREkW/a0js9uvoIRHJ/GWAtTxw053ipB4JhIh7J69drnq0XV52BinHWbPH9AUwKPAOs5RSBBqELkFGPp0

# System services
services --enabled=NetworkManager,sshd,chronyd

# System timezone
timezone Europe/Stockholm --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org

# Set up ocpuser
user --groups=wheel --homedir=/home/ocpuser --name=ocpuser --password=$6$xoemMI0uKn6icVzW$ZdAk3eizXNcynvlJKMbeTACeNVbxf7pZ/h3G3VVHmAQ7D35EXcYcsaaxRR.ME.flDJXWLj/GHYvpddZ9wDS061 --iscrypted --gecos="ocpuser"

# System bootloader configuration
bootloader --location=mbr --boot-drive=vda

# Partition (automatically)
#autopart --type=lvm
zerombr

# Partition clearing information
clearpart --all --drives=vda

# Define partitions
part /boot --fstype xfs --size=500  --ondisk=vda
part swap --size=4096 --ondisk=vda
part pv.01      --size=50000   --ondisk=vda
part pv.02      --size=4500   --ondisk=vda
volgroup vg00 pv.01 
volgroup docker-vg pv.02
logvol / --vgname=vg00  --fstype=xfs  --size=49500 --name=lv_root

# Selinux State
selinux --enforcing

# X is not configured on the installed system
skipx

# Install packages
%packages
@core
chrony
dracut-config-generic
dracut-norescue
grub2
kernel
rsync
tar
wget
git
net-tools
bind-utils
iptables-services
bridge-utils
bash-completion
kexec-tools
sos
psacct
yum-utils
tmux
vim
%end


# Run post-installation scripts
%post

# Disable every repo
yum-config-manager --disable "*"

#Disable Firewall daemon
systemctl stop firewalld
systemctl disable firewalld 
 
# Add locally hosted repos
yum-config-manager --add-repo="http://192.168.122.1/rhel-7-server-extras-rpms"
yum-config-manager --add-repo="http://192.168.122.1/rhel-7-server-ose-3.11-rpms"
yum-config-manager --add-repo="http://192.168.122.1/rhel-7-server-rpms"
yum-config-manager --add-repo="http://192.168.122.1/rhel-7-server-ansible-2.6-rpms"

# Turn off gpg check for locally hosted repos
echo "gpgcheck=0" >> /etc/yum.repos.d/192.168.122.1_rhel-7-server-extras-rpms.repo
echo "gpgcheck=0" >> /etc/yum.repos.d/192.168.122.1_rhel-7-server-ose-3.11-rpms.repo
echo "gpgcheck=0" >> /etc/yum.repos.d/192.168.122.1_rhel-7-server-rpms.repo
echo "gpgcheck=0" >> /etc/yum.repos.d/192.168.122.1_rhel-7-server-ansible-2.6-rpms.repo

# Install packages from repos previously added
yum -y install atomic-openshift-utils atomic-openshift-excluder atomic-openshift-docker-excluder docker skopeo

# Unexclude before first install
atomic-openshift-excluder unexclude

# Docker setup
## Prepare docker storage setup
echo "VG=docker-vg" >> /etc/sysconfig/docker-storage-setup
echo "DOCKER_STORAGE_OPTIONS='--storage-opt dm.basesize=10G'"  >> /etc/sysconfig/docker
## Enable docker
systemctl enable docker
## Initiate storage setup
docker-storage-setup
## Start docker service
systemctl start docker

# Install OpenShift Ansible
## Install openshift-ansible on *mgmt* hosts
$(hostname | grep -q "mgmt") && yum install -y openshift-ansible

%end
